html {
    font-size: 10px !important;
}

@font-face {
    /* Font by Manchson, can be downloaded at http://www.1001fonts.com/basis33-font.html#styles */
    font-family: pixel;
    src: url("../font/basis33.regular.ttf");
}
.pixel-text {
    font-family: pixel;
}
.pixel-text-regular {
    font-size: 1.8rem !important;
}
.pixel-text-header {
    font-size: 2.0rem !important;
}
.pixel-text-brand {
    font-size: 2.7rem !important;
}

.white-font {
    color: white;
}
