@font-face {
    /* Font by Manchson, can be downloaded at http://www.1001fonts.com/basis33-font.html#styles */
    font-family: pixel;
    src: url("../font/basis33.regular.ttf");
}

.pixel-text-regular {
    color: #B0B3B5;
    font-family: pixel;
    font-size: 1.9rem;
}

.green-color {
    color: #43AB1F;
}

.red-color {
    color: #AD070A;
}

.text-center {
    text-align: center;
}