@font-face {
    /* Font by Manchson, can be downloaded at http://www.1001fonts.com/basis33-font.html#styles */
    font-family: pixel;
    src: url("../font/basis33.regular.ttf");
}

.pixel-text-regular {
    font-family: pixel;
    font-size: 1.5em;
}

.green-color {
    color: #43AB1F;
}

.text-center {
    text-align: center;
}