.display-inline {
    display: inline;
}

.table > tbody > tr > td {
    /* Cancel Bootstrap's vertical-align: top on tables */
    vertical-align: middle !important;
}
.table > tbody > tr:hover {
    background-color: #EFF8FB;
    cursor: pointer;
}
.collapsible-background {
    background-color: #F5F5F5;
}
.collapsible-background:hover {
    background-color: #F5F5F5 !important;
    cursor: auto !important;
}
