/** See http://stackoverflow.com/questions/14538551/css-tooltips-wont-stretch-can-only-have-fixed-width */
.parth-tooltip {
    outline: none;
    position: relative;
}
.parth-tooltip .parth-tooltiptext {
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}
.parth-tooltip:hover .parth-tooltiptext {
    background: #333333;
    border: none;
    color: #FFFFFF;
    position: relative;
    opacity: 1;
    visibility: visible;
    z-index: 1;
}