<table class="table table-condensed table-layout-fixed">
    <thead>
        <tr>
            <td class="pixel-text-regular text-center">Name</td>
            <td class="pixel-text-regular text-center">Health</td>
            <td class="pixel-text-regular text-center">Level</td>
            <td class="pixel-text-regular text-center">Food</td>
            <td class="pixel-text-regular text-center">Status</td>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="player in players">
            <!-- Player name  -->
            <td class="pixel-text-regular text-center vertical-align-center">{{player.name}}</td>

            <!-- Player health -->
            <td class="text-center vertical-align-center">
                <div data-ng-repeat="i in [] | range:numFullHeartIcons(player.health)" class="icon-container">
                    <img src="img/heart_full.png" class="heart-icon"></img>
                </div>
                <div data-ng-repeat="i in [] | range:numHalfHeartIcons(player.health)" class="icon-container">
                    <img src="img/heart_half.png" class="heart-icon"></img>
                </div>
                <div data-ng-repeat="i in [] | range:numEmptyHeartIcons(player.health)" class="icon-container">
                    <img src="img/heart_empty.png" class="heart-icon"></img>
                </div>
            </td>

            <!-- Player level -->
            <td class="pixel-text-regular green-color text-center vertical-align-center">{{player.expLevel}}</td>

            <!-- Player food -->
            <td class="text-center vertical-align-center">
                <div data-ng-repeat="i in [] | range:numEmptyHungerIcons(player.foodLevel)" class="icon-container">
                    <img src="img/hunger_empty.png" class="hunger-icon"></img>
                </div>
                <div data-ng-repeat="i in [] | range:numHalfHungerIcons(player.foodLevel)" class="icon-container">
                    <img src="img/hunger_half.png" class="hunger-icon"></img>
                </div>
                <div data-ng-repeat="i in [] | range:numFullHungerIcons(player.foodLevel)" class="icon-container">
                    <img src="img/hunger_full.png" class="hunger-icon"></img>
                </div>
            </td>

            <!-- Player status -->
            <td class="pixel-text-regular green-color text-center vertical-align-center" data-ng-show="player.online">Online</td>
            <td class="pixel-text-regular text-center vertical-align-center" data-ng-show="!player.online">Offline</td>
        </tr>
    </tbody>
</table>
