<table class="table table-condensed table-responsive">
    <thead>
        <tr>
            <td class="pixel-text-regular text-center">Name</td>
            <td class="pixel-text-regular text-center">Health</td>
            <td class="pixel-text-regular text-center">Level</td>
            <td class="pixel-text-regular text-center">Food</td>
            <td class="pixel-text-regular text-center">Status</td>
        </tr>
    </thead>
    <tbody data-ng-repeat="player in players">
        <tr data-ng-click="toggleSelectedPlayer(player.name)">
            <!-- Player name  -->
            <td class="pixel-text-regular text-center vertical-align-center" data-ng-show="!isDead(player.health)">{{player.name}}</td>
            <td class="pixel-text-regular red-color text-center vertical-align-center" data-ng-show="isDead(player.health)">{{player.name}}</td>

            <!-- Player health -->
            <td class="text-center vertical-align-center">
                <div data-ng-repeat="i in [] | range:0:numFullHeartIcons(player.health)" class="icon-container">
                    <img src="img/heart_full.png" class="heart-icon"></img>
                </div>
                <div data-ng-repeat="i in [] | range:0:numHalfHeartIcons(player.health)" class="icon-container">
                    <img src="img/heart_half.png" class="heart-icon"></img>
                </div>
                <div data-ng-repeat="i in [] | range:0:numEmptyHeartIcons(player.health)" class="icon-container">
                    <img src="img/heart_empty.png" class="heart-icon"></img>
                </div>
            </td>

            <!-- Player level -->
            <td class="pixel-text-regular green-color text-center vertical-align-center">{{player.expLevel}}</td>

            <!-- Player food -->
            <td class="text-center vertical-align-center">
                <div data-ng-repeat="i in [] | range:0:numEmptyHungerIcons(player.foodLevel)" class="icon-container">
                    <img src="img/hunger_empty.png" class="hunger-icon"></img>
                </div>
                <div data-ng-repeat="i in [] | range:0:numHalfHungerIcons(player.foodLevel)" class="icon-container">
                    <img src="img/hunger_half.png" class="hunger-icon"></img>
                </div>
                <div data-ng-repeat="i in [] | range:0:numFullHungerIcons(player.foodLevel)" class="icon-container">
                    <img src="img/hunger_full.png" class="hunger-icon"></img>
                </div>
            </td>

            <!-- Player status -->
            <td class="pixel-text-regular green-color text-center vertical-align-center" data-ng-show="player.online">Online</td>
            <td class="pixel-text-regular text-center vertical-align-center" data-ng-show="!player.online">Offline</td>
        </tr>
        <tr data-ng-show="isSelectedPlayer(player.name)" class="collapsible-background">
            <td colspan="5" class="pixel-text-regular green-color">
                <div class="row">
                    <div class="col-md-12">
                        <div data-ng-repeat="item in player.items" class="parth-tooltip display-inline" data-ng-show="!isGeneral(item)">
                            <button class="inventory-icon inventory-icon-selected inventory-icon-{{toCssName(item.name)}}" >
                                <span class="parth-tooltiptext pixel-text-regular">{{toCssName(item.name)}}</span>
                            </button>
                        </div>
                        <div data-ng-repeat="item in player.items" class="parth-tooltip display-inline" data-ng-show="isGeneral(item)">
                            <button class="inventory-icon inventory-icon-{{toCssName(item.name)}}" >
                                <span class="parth-tooltiptext pixel-text-regular">{{toCssName(item.name)}}</span>
                            </button>
                        </div>
		                </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
